<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.js"></script>
  <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
</head>
<body ng-app="redditApp" ng-controller="PostsController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Reddit Clone</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a href="#" ng-click="open()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Submit Post</a></li>
          <li>
            <form class="navbar-form" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort By
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Votes</a></li>
              <li><a href="#">Date</a></li>
              <li><a href="#">Title</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Modal -->
  <script type="text/ng-template" id="newPost.html">
    <div class="modal-header">
        <h3 class="modal-title">New post</h3>
    </div>
    <div class="modal-body">
        <form name="postForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" ng-model="title" name="title" placeholder="Super awesome post" required>
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" ng-model="author" name="author" placeholder="Who are you?" required>
          </div>
          <div class="form-group">
            <label for="image">Image (URL)</label>
            <input type="url" class="form-control" ng-model="image" name="image" placeholder="A picture" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" ng-model="description" name="description" placeholder="Description" required>
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit(postForm)" type="submit">Submit</button>
    </div>
  </script>

  <div  class="container-fluid">
    <div class="row" ng-repeat="post in $storage.posts">
      {{ post }}
    </div>
  </div>
</body>
</html>